#hamburger{
  display: none;
  position: fixed;
  top: 0;
  right: 0;

  width: 8vw;
  height: 8vw;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: #adacac;
}

#hamburger .hamburger-box{

}

body {
  font-size: 10px;
  font-weight: 300;
}

a, a:visited {
  text-decoration: none;

  color: #b6b5f4;
}

h1 {
  margin-top: 50px;
  margin-bottom: 20px;

  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 7em;
  font-weight: 800;
}

h2 {
  /* margin-left: 12.5%; */
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  font-weight: 800;
}

h3 {
  color: #BFBFC1;

  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 800;
}

h4 {
  color: #BFBFC1;

  font-family: 'Apple', sans-serif;
  font-size: 1.5em;
}

h5 {
  margin-top: 100px;
  margin-bottom: 10px;
  /* margin-left: 12.5%; */

  color: #BFBFC1;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}

h6 {
  text-align: center;

  color: #BFBFC1;

  font-family: 'Apple', sans-serif;
  font-size: 1.5em;
}

p {
  text-align: center;

  font-family: 'Apple', sans-serif;
  font-size: 2.6em;
  line-height: 30px;
}

.menu{
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  width: 100vw;
  height: 50px;

  transition: .7s;

  background-color: white;

  font-size: 2em;
}


.menu p{
  color: #BFBFC1;

  font-size: 1em;
}

.menu>p{
  text-decoration: underline;
}

.menu .active{
  color: #fda7fd
}

.menu-hidden{
  bottom: -50px;
}

.articles{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 600px;
}

.articles a{
    color: black;
}


.base-container {
  width: 1440px;
  margin: auto;
}


.start p {
  width: 56%;
  margin: auto;

  text-align: center;

}

.choose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 35%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.spider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 80%;
  margin: 100px auto 0 auto;
}

.spider {
  width: 40%;
  height: 40%;
}

h4.spider-note {
  width: 70%;
  margin: 10px auto 0 auto;

  text-align: center;
}

.section-1 {
  width: 80%;
  margin: 0 auto;
}

.panel-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 50px;
}



.panel-image {
  display: flex;
  align-items: center;

  height: 180px;
  margin-bottom: 10px;
}

.panel-image img{
  height: 100%
}

.section-2 {
  width: 80%;
  margin: 0 auto;
}

.part-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.part1 {
  width: 45%;
}

.part1 p {
  margin-top: 50px;
  margin-bottom: 60px;

  text-align: left;
}

.part2 {
  width: 45%;
}

.part2 h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.part2 p {
  text-align: left;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin: 50px auto;
}

.section-3 {
  width: 80%;
  margin: 0 auto;
}

.section-3>p {
  width: 65%;

  text-align: left;
}

.section-3 h2 {
    margin-bottom: 20px;
}

.main-sector {
  display: flex;
  flex-direction: column;
}

.main-sector-block {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 50px;
}

.main-sector p {
  width: 40%;

  text-align: left;
}

.forposter-w {
  width: 41%;
}

.forposter-t {
    width: 47%;
    height: 47%;
}

.part-in {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  width: 41%;
  margin-top: 20px;
  }

.about-book {
  margin: 150px auto 0 auto;
}

.about-book a {
  margin-bottom: 50px;

  text-align: center;

  color: #FF57F5;

  font-family: 'Apple', sans-serif;
  font-size: 2em;
}

.about-book h2  {
  margin-bottom: 20px;
  margin-left: 0;

  text-align: center;
}

.about-book h5  {
  margin-left: 0;

  text-align: center;
}

.book-in img {
  width: 30%;
  height: 30%;
}

.book-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page0 img  {
  width: 100%;
}

.page0 {
  display: flex;
  align-items: center;

  margin-top: -150px;
}

.about-book .center {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -100px;
}

.about-3D {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.bild {
  width: 74%;
  margin-top: 100px;
}

.floors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 25%;
  margin-top: 100px;
}

.floor{
  text-decoration: none;

  color: #A29F9F;

  font-family: 'Apple', sans-serif;
  font-size: 1.5em;
}

.floor:hover{
  cursor: pointer;
}

.floor-on {
  text-decoration: underline;

  color: #FF57F5;
}

.floor-on:hover {
  cursor: default;
}

.interior {
  display: none;
  align-items: center;
  justify-content: space-around;

  width: 74%;
  margin: 40px auto;
}

.interior img {
  width: 31.5%;
}

.interior-on {
  display: flex;
}

.about-web {
  width: 80%;
  margin: 150px auto;

  text-align: center;
  /* display: flex;
  align-items: center; */
}

.about-web h2 {
  width: 80%;
  margin: 0 auto;
}

.frames {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 95%;
  margin: 50px auto;
}

.frame {
  width: 45%;
}

.frame p {
  width: 95%;

  text-align: left;
}

.frame img {
  width: 100%;
  margin-bottom: 30px;
}

.second-project {
  width: 72%;
  margin: 150px auto;
}

footer {
  margin: 0 auto;
}

footer h5 {
  text-align: center;

  font-weight: 400;
  line-height: 20px;
}
footer {
  margin: 100px auto;
}

footer h5 {
  text-align: center;

  font-weight: 400;
}

@media all and (max-width: 1439px) {
  .menu {
      display: flex;
      width: 100vw;
      height: 80vh;
      flex-direction: column;
      padding: 10vh 0;
      justify-content: space-between;
      bottom: 0
  }

  .articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vw;
  }

  .menu-hidden{
    display: none;
  }

  #hamburger{
    display: block;
    z-index: 1;
  }

  h1{
    font-size: 5em;
  }

  h2{
    font-size: 3em;
  }

  h5{
    font-size: 1.5em;
  }


  p{
    font-size: 2em;
    line-height: 24px;
  }

  .base-container{
    width: 90vw;
  }

  .start p {
    width: 90%;
  }

  .choose {
    width: 75%;
  }

  .spider-container{
    width: 100%;
    margin-top: 30px;
  }

  .panel {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 50%;
    margin-bottom: 5%;
  }

  .panel-container {
      flex-wrap: wrap;
      justify-content: space-around;

      margin-right: 7%;
  }

  .part1 {
      width: 100%;
  }

  .part2 {
      width: 100%;
  }
  .section-3 {
      margin-left: 105px;
  }
  .section-1 {
      margin-left: 105px;
  }
  .section-2 {
      margin-left: 105px;
  }

  .section-3>p {
    width: 90%;

    text-align: left;
  }

  .forposter-w {
    width: 78%;
}

  .main-sector-block {
      flex-direction: column;

      margin-left: -10%;
  }
  .main-sector p {
      width: 78%;
  }
  .main-sector p+img{
    margin-top: 50px;
  }

  .main-sector .part-in+p{
    margin-top: 50px;
  }
  .part-in {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 78%;
    margin-top: 20px;
   }
  .floors {
      width: 50%;
  }
  .about-web {
      margin: 0px auto;
  }
  .book-in img {
      width: 30%;
      height: 30%;
  }
  .page0 {
      margin-top: -60px;
      margin-bottom: 50px;
  }
  .about-book {
      margin: 100px auto 0 auto;
  }

  .about-book a {
    margin-bottom: 0px;

    font-size: 1.5em;
  }
  .section-3 {
      margin-left: 105px;
  }
  .section-1 {
      margin-left: 105px;
  }

  .section-1 h2{
    margin-bottom: 20px;
  }
  .section-2 {
      margin-left: 105px;
  }
  .part1 p {
      width: 95%;
      margin-top: 10px;
      margin-bottom: 30px;
  }
  .frame p {
    width: 85%;
    margin-left: 8%;

    text-align: left;
 }
 .about-web h2 {
    z-index: 100;
    margin-bottom: -150px;
}

 .frames {
     flex-direction: column;

     margin-bottom: -50px;
 }
 .frame {
     z-index: -100;

     width: 100%;
     width: 100%;
 }
  h5 {
    margin-top: 50px;
  }

  .panel-left{
    margin-left: -80px;
  }
}
@media all and (max-width: 500px) {

  h1 {
      font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }

  h5 {

    margin-top: 20px;
  }
  p {
    line-height: 15px;
    font-size: 1.5em;
  }

  .base-container{
    font-size: 0.8em;
  }


  .choose {
    width: 100%;
    display: none;
  }

  .start p {
      width: 95%;
  }
  .part1 img {
    width: 100%;
  }
  .part2 img {
    width: 100%;
  }
  .part2 h2 {
    margin-bottom: 10px;
  }

  .logo, .logo img{
    width: 100%
  }
  .logo{
    margin: 25px auto;
  }

  .panel-container {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0px auto;
    align-items: center;
  }

  .panel-image{
    height: 130px;
  }
  .main-sector-block {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
  .main-sector p {
    width: 100%;
  }

  .main-sector p+img {
    margin-top: 20px;
  }
  .main-sector .part-in+p {
    margin-top: 20px;
  }

  .part-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-flow: column; */
    justify-content: space-between;

    width: 100%;
    /* height: 100%; */
    margin-top: 20px;
    /* margin-left: -9px; */
  }

  #first-kost{
    margin-top: 0;
  }

  .part-in img+img{
    margin-top: 20px;
  }

  .section-3 {
    width: 80%;
    margin: 0 auto;
  }
  .section-3 h2 {
    margin-bottom: 10px;
  }
  .section-1 {
    width: 80%;
    margin: 0 auto;
  }
  .section-2 {
    width: 80%;
    margin: 0 auto;
  }
  .forposter-t {
      width: 100%;
      height: auto;
  }

  .forposter-w {
      width: 100%;
  }

  .about-book{
    margin-top: 50px;
  }
  .page0 {
    margin-top: -20px;
    margin-bottom: 0;
  }
  .bild {
    width: 100%;
    margin-top: 20px;
  }

  .floors {
    width: 100%;
    margin-top: 50px;
  }

  .interior {
    width: 100%;
  }
  .about-web h2 {

    margin-bottom: 0;
  }
  .frames {
      margin: 0px auto;
  }
  .second-project {
      width: 80%;
      margin: 50px auto;
  }

  .panel-left{
    margin-left: 0;
  }

  #hamburger{
    width: 10vw;
    height: 10vw;
    right: 10vw;
  }

}
